body {
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

h1 {
    font-size: 3.5rem;
    color: hsl(0, 4%, 82%);
}

.choices {
    margin-bottom: 7.5rem;
}

.choices button {
    font-size: 7.5rem;
    min-width: 160px;
    margin: 0 10px;
    border-radius: 250px;
    background-color: rgb(236, 52, 206);
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.choices button:hover {
    background-color: rgb(255, 0, 34);
}

#playerDisplay, #computerDisplay {
    font-size: 2.5rem;
    color: white;
}

#resultDisplay {
    font-size: 5rem;
    margin: 30px 0;
    color: white;
}


#counterDisplay, #lossDisplay {
    font-size: 5rem;
    margin: 30px 0;
    color: white;
}




